.divisionDektop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  height: 70vh;
  max-height: 1024px;
  background-size: cover;
  background-position: 0px;
  background-repeat: no-repeat;
}

.trendingPreview-container {
  width: 50%;
  margin-right: 20px;
}

.movie-img:hover {
  border-radius: 10px;
  box-shadow: 0 0 10px 5px white;
  transition: all 600ms;
}

.card-points {
  top: -10px;
  left: -10px;
}

.close-card {
  top: -25px;
}

.categoriesPreview-container {
  width: 45%;
  background-color: var(--color1);
}

/* CONTAINER TITLE */
.categoriesPreview-title {
  position: relative;
  top: -30px;
  border-radius: 10px;
}

.genericList-container {
  grid-template-columns: auto auto auto;
}

.movie-category {
  margin-left: 5px;
  margin-right: 5px;
}

.movie-img-category {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.active-details {
  margin-left: auto;
  margin-right: auto;

  opacity: 1;
  visibility: visible;
}


.relatedMovies-title {
  background-color: var(--color-dark);
}

.header-container--long {
  position: fixed;
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.movieDetail-title,
.movieDetail-score,
.movieDetail-description {
  color: var(--colorText);
  text-align: center;
}

.movie-search {
  margin-top: 10px;
  width: 300px;
  margin-right: 12px;
}

.movie-search img {
  position: relative;
  top: 15px;
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.movie-search p {
  width: 300px;
  height: 60px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  color: var(--colorText);
  background-color: var(--color1);
}

