:root {
    --color-light: rgb(255, 255, 255);
    --color-yellow-medium: #f78400;
    --color-yellow-light-navar: #f8be00;
    --color-dark: #111111;
    --background-img: url('../icons/marvel-avengers-infinity-war-poster-oficial-cover.jpg');
    --font-family-titles: "Dosis", sans-serif;
    --font-family-text: "Red Hat Display", sans-serif;
}

/* NAVEGADOR */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    
} 


html {
    user-select: none;
}


/* NAVAR */
.header-container{
    background-color: var(--color-dark);
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
    padding-top: 4px;
    position: static;
}

.container-icons{
    display: grid;
    grid-template-columns: 86% 7% 7%;

    position: relative;
    top: 5px;
}

.buttom-menu-container{
    height: 25px;
    width: 40px;
    position: fixed;
    left: 5px;
    top: 8px;
    border-style: none;
    background-color: var(--color-yellow-light-navar);
    border-radius: 5px;
    z-index: 2;
}

.buttom-menu-container:active{
    background-color: var(--color-yellow-medium);
}

.icon-back{
    height: 15px;
    width: 15px;
    position: relative;
    left: -2px;
    top: 3px;
}

.icon-twitter{
    height: 25px;
    width: 25px;
    position: inherit;
    left: 91.8%;
}

.icon-instagram{
    height: 25px;
    width: 25px;
}

.icon-usuario{
    height: 25px;
    width: 25px;
}

/* SERACH */

.search-background {
    background-size: cover;
    background-position: -240px;
    background-image: var(--background-img);
    height: 464px;
}

.glass-search-container{
    position: absolute;
    width: 85%;
    height: 387px;
    left: 25px;
    top: 55px;

    background: linear-gradient(180deg, rgba(217, 217, 217, 0.47) 2.19%, rgba(255, 252, 252, 0.12) 99.95%);
    box-shadow: 0px 4px 20px 17px rgba(0, 0, 0, 0.53);
    backdrop-filter: blur(22px);

    border-radius: 20px;
}

#tittle-page{
    /* TITULO PAGINA */
    width: 300px;
    position: inherit;
    top: 6rem;
    left: 3.5rem;
    font-size: 48px;
    text-align: center;
    line-height: 60px;
}

.header-searchForm {
    /* CONTENEDOR BUSCADOR */
    width: 85%;
    position: absolute;
    bottom: 60px;
    left: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#input-movie {
    /* BUSCADOR */
    height: 60px;
    width: 100%;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 80px;

    border-style: none;
    outline-style: none;
    color: var(--color-dark);
    background: var(--color-light);
    border-radius: 42px;
}

#input-movie::placeholder{
    color: var(--color-dark);
}

#searchBtn{
    position: absolute;
    right: 10px;
    border-style: none;
    background: var(--color-yellow-light-navar);
    border-radius: 50px;
}

#searchBtn img{
    height: 25px;
    width: 25px;
    margin: 10px 15px;
}

#categoryTitle{
    position: inherit;
    right: 20px;
    bottom: 10px;
}

/* BARRA HORIZONTAL DE PELICULAS */

.categoriesPreview-container{
    /* CONTENEDOR CATEGORIAS */

    width: 100%;
    
    height: 100%;

    position: fixed;
    top: 0px;
    padding-left: 40px;

    background-color: var(--color-dark);
    transform: translateX(-100%);
}

.categoriesPreview-container--show{
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0px;
    
    z-index: 1;
    background-color: var(--color-dark);
    transform: translateX(0);

    overflow-y: scroll;
}

.category-title-container{
    /* TITULO CATEGORIA */
    width: 180px;

    position: relative;
    left: 5rem;

    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: var(--color-yellow-light-navar);
}

.categoriesPreview-list{
    /* CONTENEDOR DE CATEGORIAS */
    
    color: var(--color-light);

    flex-wrap: wrap;

    display: grid;
    grid-template-columns: 50% 50%;
}

.category-container{
    /* TEXTO DE CATEGORIAS */
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}

.category-container:active{
    /* DAR CLICK A LAS CATEGORIA */
    color: var(--color-dark);
    background-color: var(--color-yellow-light-navar);
}


/* TRENDS PELICULAS */


.trendingPreview-header{
    /* CONTENEDOR TITULO TRENDS */
    width: 100%;
    display: flex;

    
    
    background-color: var(--color-dark);
    
}

.trendingPreview-header h2{
    width: 250px;

    position: relative;
    bottom: 10px;
    left: 50px;

    
    padding: 15px 20px 15px 30px;
    background-color: var(--color-yellow-light-navar);
    color: var(--color-dark);
    border-radius: 10px;
}

.trendingPreview-header button{
    width: 80px;
    height: 50px;

    position: relative;
    right: 40px;
    top: -2px;

    border-style: none;
    border-radius: 10px;
    color: var(--color-light);
    background-color: var(--color-dark);
}


.trendingPreview-movieList {
    /* CONTENEDOR LISTA DE PELICULAS */
    background-color: var(--color-dark);
    user-select:none;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 250px;
    padding-top: 50px;
    padding-left: 15px;
}

.card-hover{
    /* TARGET PELICULA */
    display: flex;
    justify-content:center;
    position: absolute;
    width: 300px;
    max-width:450px;
    height: 80px;
    z-index: 1;
    opacity: 0;
    top: -40%;
    left: 5rem;

    border-radius: 20px;
    color: var(--color-light);
    background-color: var(--color-dark);
    transform: scale(130%);
    transition: opacity .2s ease-in-out;
    animation:  all 2s;
}

.card-hover p {
    position: inherit;
    left: 3rem;
    top: 20px;
}

.card-hover .close-card{
    position: inherit;
    right: 10px;
    top: 5px;
}

.card-hover .calificacion-card{
    position: inherit;
    top: 45px;
}

.trendingPreview-movieList .movie-container {
    /* ARTICULO */
    display: inline-block;
    margin-right: 8px;
}

.movie-container .movie-img{
    /* IMAGEN PELICULA */
    background-color: red;
    border-radius: 20px;
}

.movie-container img:hover{
    /* MOVIMIENTO DE LA PELICULA TREND */
    position: relative;
    animation-name: pelicula;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes pelicula{
    0%{
        top: 0px;
    }

    100%{
        top: -30px;
        transform: scale(120%);
        box-shadow: 0px 4px 12px 16px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
    }
}