.header-container {
  background-size: cover;
  background-position: 0px;
  background-repeat: no-repeat;
}

.categoriesPreview-list {
  height: 280px;
  align-content: space-around;
}

.movie-category {
  margin-left: 5px;
  margin-right: 5px;
}

.active-details {
  width: 100%;
  overflow-x: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 570px;
  transform: translateZ(1px);
  opacity: 1;
  visibility: visible;
  background-color: var(--color1);
  transition: 600ms all;
}

@media (min-width: 620px) {
  .active-details {
    width: 600px;
    overflow-x: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 570px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    visibility: visible;
    background-color: var(--color1);
    transition: 600ms all;
  }
}

.header-container--long {
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.movieDetail-title {
  text-align: center;
}

.movie-search {
  margin-right: 12px;
}
