/* CONTENEDOR PRESENTACION */
.header-container {
  width: 100%;
  height: 300px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  /*background-image: url('../icons/marvel-avengers-infinity-war-poster-oficial-cover.jpg');*/
  background-size: cover;
  background-position: 0px;
  background-repeat: no-repeat;
}


/* TITULO DE GLASS */
.header-title {
  font-size: 2.6rem;
  text-align: center;
  line-height: 40px;
  max-width: 300px;
}

/* SEARCH CONTENEDOR*/
.header-searchForm {
  margin-top: 10px;
  width: 240px;
  display: flex;
}

/* SEARCH */
input {
  outline: none;
  border-style: none;
  height: 40px;
  width: 100%;

  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 10px;
}

/* ICON SEARCH */
#searchBtn {
  width: 40px;
  height: 40px;

  background: var(--gradiante);
  outline: none;
  border-style: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

/* ----------- */

/* CONTENEDOR PELICULAS Y TRENDS  */
.trendingPreview-container {
  background-color: var(--color2);
}

/* CONTENEDOR TRENDS */
.trendingPreview-header {
  height: 50px;

  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  background-color: var(--color2);
}

/* BACKGROUND TRENDS */
.container-trens {
  position: relative;
  top: -20px;

  width: 170px;
  height: 50px;

  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  background: var(--gradiante);
  color: var(--colorText);
}

/* TITULO TRENDS genericList-container*/
/* .trendingPreview-title{
} */

/* BOTON TRENDS */
.trendingPreview-btn {
  outline: none;
  border-style: none;
  margin-left: 5px;
  background-color: var(--color2);
  color: var(--colorText);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* CONTENEDOR PELICULAS */
.trendingPreview-movieList {
  width: 100%;
  height: 210px;
  overflow-y: hidden;

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

/* CATEGORY */

/* CONTAINER LIST CATEGORY */
.categoriesPreview-list {
  height: 280px;

  align-content: space-around;
}

.movie-category {
  width: 300px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-name {
  width: 300px;
  height: 50px;
  background-color: var(--color1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  color: var(--colorText);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.movie-img-category {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.movie-description {
  position: relative;
  top: -7px;
}

/* ACTIVITY DETAIL MOVIES */
.inactive-details {
  width: 0;
  position: absolute;
  top: 50px;
  left: -50px;

  opacity: 0;
  visibility: hidden;
  transition: 600ms all;
}

.active-details {
  width: 100%;

  overflow-x: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 570px;
  transform: translateZ(1px);
  opacity: 1;
  visibility: visible;
  background-color: var(--color1);
  transition: 600ms all;
}

@media (min-width: 620px) {
  .active-details {
    width: 600px;
    overflow-x: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 570px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    visibility: visible;
    background-color: var(--color1);
    transition: 600ms all;
  }
}

.relatedMovies-scrollContainer {
  width: 100%;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;

  padding-left: 10px;
  background-color: var(--color2);

  overflow-x: scroll;
}



.header-container--long {
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}



.movieDetail-title {
  text-align: center;
}



/* MOVIE SEARCH */

.movie-search {
  margin-right: 12px;
}

