:root {
    --background-button: #f78400;
    --background-navar: #f8be00;
    --background: #111111;
    --background-img: url('./icons/marvel-avengers-infinity-war-poster-oficial-cover.jpg');
    --font-family-titles: "Dosis", sans-serif;
    --font-family-text: "Red Hat Display", sans-serif;
    --font-weight-title1: 800;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 


html {
    user-select: none;
    font-family: 'Poppins';
    font-style: normal;
}

/* NAVAR */
.header-container{
    background-color: var(--background);
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
    position: static;
}

.icon-back{
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}

.icon-twitter{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.icon-instagram{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 2.2rem;
    top: 0.5rem;
}

.icon-usuario{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 4rem;
    top: 0.5rem;
}

/* SEARCH */

.search-background {
    background-size: cover;
    background-image: url('./icons/marvel-avengers-infinity-war-poster-oficial-cover.jpg');
    padding-top: 35px;
    padding-bottom: 500px;
}    

.glass-search-container{
    position: absolute;
    width: 90%;
    min-width: 500px;
    max-width: 94%;
    height: 400px;
    left: 5%;
    top: 65px;
    

    background: linear-gradient(180deg, rgba(217, 217, 217, 0.47) 2.19%, rgba(255, 252, 252, 0.12) 99.95%);
    box-shadow: 0px 4px 20px 17px rgba(0, 0, 0, 0.53);
    backdrop-filter: blur(7px);

    border-radius: 59px;
}

#tittle-page{
    width: 300px;
    max-width: 300px;
    position: absolute;
    top: 8rem;
    left: 4rem;
    font-size: 70px;
    text-align: center;
    line-height: 60px;
}

#categoryTitle{
    position: absolute;
    bottom: 1rem;
    right: 8rem;
    color: #313131;
}

.header-searchForm {
    position: absolute;
    top: 10rem;
    left: 32rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-movie {
    height: 50px;
    width: 300px;
    max-width: 500px;
    min-width: 1px;
    background: #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    border-style: none;
    outline-style: none;
    color: #111111;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;

    box-shadow: 0px 4px 20px 17px rgba(0, 0, 0, 0.53);
}

#input-movie::placeholder{
    color: #111111;
}

#searchBtn{
    height: 50px;
    width: 50px;
    background: #FFE500;
    border-radius: 0px 20px 20px 0px;
    border-style: none;
}

#searchBtn img {
    height: 30px;
    width: 30px;
}

/* CONTENEDOR ENTRETENIMIENTO */

.view-contenedor {
    /* display: flex;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: 0.2fr 1fr;
}


/* CATEGORIAS */
#categoriesPreview{
    flex: 0%;
    width: 270px;
    height: 940px;

    background: linear-gradient(269.86deg, #151515 0.15%, #242424 42.65%, #242424 99.9%);
    border-radius: 0px;
    position: static;
}

.category-title-container {
    height: 48px;
    width: 200px;
    position: relative;
    top: -26px;
    left: 2rem;

    background: #FFE600;
    border-radius: 16px;
}

.categoriesPreview-title{
    font-weight: 600;
    font-size: 25px;
    line-height: 72px;

    position: relative;
    top: -10px;
    left: 26px;
}

.categoriesPreview-list{
    margin-left: 30px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 46px;
}

.categoriesPreview-list .category-container:hover{
    background-color: #f8be00;
    color: #111111;

    border-radius: 8px;
    margin-right: 70px;
    padding-left: 30px;

    position: relative;
    left: 5px;
}

/* TRENDS */

.trendingPreview-container{
    flex: 60%;
    width: 100%;
    height: 940px;

    background-color: #151515;
}

.trendingPreview-header{
    display: inline-flex;
    padding: 10px;

    position: relative;
    top: -26px;
    right: -250px;

    background: #FFE600;
    border-radius: 16px;
}

.trendingPreview-title{
    padding-left: 10px;
}

.trendingPreview-btn{
    margin-left: 30px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;

    background-color: #111111;
    color: #FFE600;
    font-family: 'Poppins';
    font-style: normal;
}

.container-movies{
    height: 865px;
    width: 100%;
    background-color: aqua;
    padding-left: 40px;
}
.trendingPreview-movieList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} 